.startBtn {
  background-color: green;
  display: inline-block;
  color: rgba(255, 255, 255, 0.47);
  font-weight: bold;
  text-decoration: none;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  box-shadow: 0px 0px 0px 5px #8cd460;
  border: solid 2px rgba(255, 255, 255, 0.47);
  transition: .4s;
}

.startBtn:hover{
  border-style: dashed;
}

.stopBtn {
  background-color: rgb(189, 15, 15);
  display: inline-block;
  color: rgba(255, 255, 255, 0.952);
  font-weight: bold;
  text-decoration: none;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  box-shadow: 0px 0px 0px 5px #7a1c1c;
  border: solid 2px rgba(0, 0, 0, 0.47);
  transition: .4s;
}

.stopBtn:hover{
  border-style: dashed;
}

.resetBtn {
  background-color: rgb(66, 66, 66);
  display: inline-block;
  color: rgba(255, 255, 255, 0.952);
  font-weight: bold;
  text-decoration: none;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  box-shadow: 0px 0px 0px 5px #777a74;
  border: solid 2px rgba(0, 0, 0, 0.47);
  transition: .4s;
}

.resetBtn:hover{
  border-style: dashed;
}

.lapBtn {
  background-color: rgb(66, 66, 66);
  display: inline-block;
  color: rgba(255, 255, 255, 0.952);
  font-weight: bold;
  text-decoration: none;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  box-shadow: 0px 0px 0px 5px #777a74;
  border: solid 2px rgba(0, 0, 0, 0.47);
  transition: .4s;
}

.lapBtn:hover{
  border-style: dashed;
}

.maxLap {
  color: red
}

.minLap {
  color: green
}

.App {
  text-align: center;
}